{% extends "BackEndKidsManagementBundle:views:gabarit.html.twig" %}

{% block title %}BackEndKidsManagementBundle:main:deletePlug{% endblock %}

{% block secondchild %}
<h1>Welcome to the main:deletePlug page</h1>
{% endblock %}
