{% extends "BackEndKidsManagementBundle:views:gabarit.html.twig" %}

{% block title %}BackEndKidsManagementBundle:main:payment{% endblock %}

{% block secondchild %}
    <h1>Welcome to the main:payment page</h1>
{% endblock %}