{% extends "BackEndKidsManagementBundle:views:gabarit.html.twig" %}

{% block title %}BackEndKidsManagementBundle:main:recoveringPlug{% endblock %}

{% block secondchild %}
<h1>Welcome to the main:recoveringPlug page</h1>
{% endblock %}
