{% extends "::base.html.twig" %}

{% block title %}BackEndKidsManagementBundle:main:recoveringPlug{% endblock %}

{% block firstchild %}
<h1>Welcome to the main:recoveringPlug page</h1>
{% endblock %}
