{% extends "BackEndKidsManagementBundle:views:gabarit.html.twig" %}
}
{% block title %}BackEndKidsManagementBundle:main:updatePlug{% endblock %}

{% block secondchild %}
<h1>Welcome to the main:updatePlug page</h1>
{% endblock %}
