{% extends "CommonAccessBundle::gabarit.html.twig" %}

{% block title %}:main:change password{% endblock %}

{% block secondchild %}
    <h1>Welcome to the main:change password page</h1>
{% endblock %}
